<section id="press">
<div class="container">
  <h3>Press</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://www.geekwire.com/2017/working-geek-theater-major-became-engineering-lead-chef/">Working Geek: How this theater major became an engineering lead at Chef</a></strong>
      - Redmond Magazine
		</h5>
        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://www.geekwire.com/2017/ai-devops-microservices-highlight-tech-talks-geekwire-cloud-tech-summit/">AI, DevOps, and microservices highlight tech talks at GeekWire Cloud Tech Summit</a></strong>
      - GeekWire
		</h5>
        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://redmondmag.com/articles/2017/06/22/open-source-dev-tools-for-azure.aspx/">Microsoft and Partners Highlight Open Source Dev Tools for Azure</a></strong>
      - Redmond Magazine
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://www.arresteddevops.com/devopsdays-chicago-2016/">DevOpsDays Chicago 2016 with Nell Shamrell-Harrington, Jill Jubinski, and Michael Stahnke</a></strong>
      - Arrested DevOps
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://techbeacon.com/devopsdays-highlights-noops-devops-burnout-getting-past-chaos-driven-development">DevOpsDays: NoOps, DevOps burnout, and getting past chaos-driven dev</a></strong>
      - TechBeacon
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://devopscollective.org/devops-a-history/">DevOps: A History</a></strong>
      - The DevOps Collective
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://changelog.com/posts/regular-expressions-without-fear">Regular Expressions without Fear</a></strong>
      - Changelog
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://www.codepancake.com/spotlight-22-nell-shamrell-harrington/">In the Spotlight: Nell Shamrell-Harrington</a></strong>
      - Code Pancake
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://adorable.io/post/first-do-no-harm-surgical-refactoring">First Do No Harm: Surgical Refactoring</a></strong>
			- Adorable.io
		</h5>
    <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://www.sitepoint.com/three-rubyconf-surprises/">Three RubyConf Surprises</a></strong>
      - Sitepoint
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.youtube.com/watch?v=uXJ__kmlnUU">RubyConf '13 Preview: Nell Shamrell</a></strong>
      - Ninefold
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://patrickdelancy.com/2013/05/what-i-learned-at-the-university-of-illinois-web-conference-2013/#.WH5nprYrIsk">What I Learned at the University of Illinois Web Conference 2013</a></strong>
      - Ninefold
		</h5>
    </div>
  </div>
</div>
</section>
