<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/habitat-sh/habitat">Habitat</a></strong>
			- Core Maintainer
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/chef/supermarket">Chef Supermarket</a></strong>
			- Core Contributor
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/operationcode/operationcode">Operation Code</a></strong>
      - Core Contributor
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/newcontext-oss/kitchent-terraform">Kitchen Terraform</a></strong>
      - Contributor
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/exercism/exercism.io">Exercism IO</a></strong>
      - Contributor
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/devprogress/hillarybnb">Hillary BNB</a></strong>
      - Contributor
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/john/drive.vote">Drive the Vote</a></strong>
      - Contributor
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/chef/chef-web-docs">Chef Web Docs</a></strong>
      - Contributor
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/nellshamrell/Dev4Ops4Dev">Dev4Ops4Dev</a></strong>
      - Author
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/nellshamrell/ops_for_developers">Ops for Developers</a></strong>
      - Creator and Core Developer
		</h5>
		<h5>
    </div>
  </div>

  For more examples of my coding work, please see my <a href="https://github.com/nellshamrell">Github profile</a>.
</div>
</section>
