<section id="speaking">
<div class="container">
  <h3>Speaking</h3>
  Along with being a software development engineer, I also trained as an actor for several years. One of my goals is to lift the presentation quality at Ruby, DevOps, and tech conferences in general. You can present technical content, teach people new technologies, and still be engaging and entertaining. I'm hoping to lead by example.
  <h3>Upcoming</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <h5>
        <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Chef Vault: A Technical Deep Dive</strong>
        - <a href="https://www.chefconf.io">ChefConf 2017</a>
        - Feb 23-24, 2017
        - Austin, TX
      </h5>
       <h5>
        <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>DevOps: A History</strong>
        - <a href="https://www.geekwire.com/events/geekwire-cloud-tech-summit-2017/">Geekwire Cloud Tech Summit</a>
        - June 7, 2017
        - Bellevue, WA
      </h5>
        <h5>
        <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Platform Agnostic and Self-Organizing Software Packages</strong>
        - <a href="http://www.cdnextcon.com/">Cloud and Data Next Conference</a>
        - July 15-16, 2017
        - San Francisco, CA
      </h5>
      <h5>
        <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Platform Agnostic and Self-Organizing Software Packages</strong>
        - <a href="https://uptime.events/">Uptime Ops & Systems Programming Conference</a>
        - Aug 24-25, 2017
        - Pittsburgh, PA
      </h5>
    </div>
  </div>
  <h3>Past</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    <h5>
      <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>DevOps in Politics</strong>
      - <a href="https://www.youtube.com/watch?v=zF0ftIzxCsw">Video</a>
      - <a href=" https://www.slideshare.net/NellShamrell/devops-in-politics">Slides</a>
    </h5>
	  <h5>
      <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Open Source Governance: The Hard Parts<strong>
      - <a href="https://www.youtube.com/watch?v=iBhJBAdPbEE">Video</a>
      - <a href="https://www.slideshare.net/NellShamrell/open-source-governance-the-hard-parts">Slides</a>
    </h5>
	  <h5>
      <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Open Source Governance 101<strong>
      <a href="https://www.slideshare.net/NellShamrell/open-source-governance-101">Slides</a>
    </h5>
    <h5>
      <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Creating Packages that Run Anywhere with Chef Habitat</strong>
      - <a href="https://www.youtube.com/watch?v=_04aLq1VuYg">Video</a>
      - <a href="https://www.slideshare.net/NellShamrell/creating-packages-that-run-anywhere-with-chef-habitat">Slides</a>
    </h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>DevOps: A History</strong>
      - <a href="https://www.youtube.com/watch?v=IIkbn2V5A40">Video</a>
      - <a href="http://www.slideshare.net/NellShamrell/devops-a-history">Slides</a>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Refactoring Infrastructure Code</strong>
      - <a href="https://www.youtube.com/watch?v=1Kj3I4PZXdE">Video</a>
      - <a href="http://www.slideshare.net/NellShamrell/refactoring-infrastructure-code">Slides</a>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Untangling Infrastructure Code Through Refactoring</strong>
      - <a href="https://www.youtube.com/watch?v=OH6iDKaXpZs">Video</a>
      - <a href="http://www.slideshare.net/NellShamrell/refactoring-terraform">Slides</a>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Estimates That Don't Suck</strong>
      - <a href="http://www.slideshare.net/NellShamrell/estimates-that-dont-suck">Slides</a>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>First Do No Harm: Surgical Refactoring</strong>
      - <a href="https://confreaks.tv/videos/fullstackfest2015-first-do-no-harm-surgical-refactoring">Video</a>
      - <a href="http://www.slideshare.net/NellShamrell/first-do-no-harm-surgical-refactoring-extended-edition">Slides</a>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Beneath the Surface: Regular Expressions in Ruby</strong>
      - <a href="http://confreaks.tv/videos/rubyconf2013-beneath-the-surface-harnessing-the-true-power-of-regular-expressions-in-ruby">Video</a>
      - <a href="http://www.slideshare.net/NellShamrell/beneath-the-surface-rubyconf-2013">Slides</a>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Test Driven Development: A Love Story</strong>
      - <a href="http://confreaks.tv/videos/acr2013-test-driven-development-a-love-story">Video</a>
      - <a href="http://www.slideshare.net/NellShamrell/tdd-a-love-storyfinal">Slides</a>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong>Behind the Curtain: Applying Lessons from the Theatre to Software Engineering</strong>
      - <a href="http://confreaks.tv/videos/madisonruby2012-behind-the-curtain-applying-lessons-learned-from-years-in-the-theatre-to-crafting-software-applications">Video</a>
      - <a href="http://www.slideshare.net/NellShamrell/behind-the-curtain-14141667">Slides</a>
		</h5>
    </div>
  </div>
</div>
</section>
