<section id="writing">
<div class="container">
  <h3>Writing</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://blog.chef.io/2017/03/08/what-can-you-do-with-habitat-today/">What Can You Do With Habitat Today?</a></strong>
      - Chef Company Blog
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://blog.chef.io/2016/01/21/chef-vault-what-is-it-and-what-can-it-do-for-you/">Chef Vault - What is it and what can it do for you?</a></strong>
      - Chef Company Blog
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://blog.chef.io/2015/12/31/a-supermarket-of-your-own-running-a-private-supermarket/">A Supermarket of Your Own - Running a Private Supermarket</a></strong>
      - Chef Company Blog
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://blog.chef.io/2015/06/09/oc-id-on-chef-server-an-introduction/">oc-id on Chef Server: An Introduction</a></strong>
      - Chef Company Blog
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://blog.chef.io/2015/05/26/omnibus-ctl-what-is-it-and-what-can-it-do-for-you/">Omnibus-ctl: What is it and what can it do for you?</a></strong>
      - Chef Company Blog
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://blog.chef.io/2015/03/16/using-chef-supermarket-a-guided-tour/">Using Chef Supermarket: A Guided Tour</a></strong>
      - Chef Company Blog
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://sysadvent.blogspot.com/2014/12/day-12-ops-and-development-teams.html">Ops and Development Teams: Finding a Harmony</a></strong>
      - SysAdvent 2014 Blog
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.blueboxcloud.com/insight/blog-article/regular-expressions-spotlight-groups-pt-i">Regular Expressions Spotlight: Groups</a></strong>
      - Blue Box Cloud Blog
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.blueboxcloud.com/insight/blog-article/using-regular-expressions-in-ruby-part-1-of-3">Regular Expressions in Ruby: Part 1</a></strong>
      - Blue Box Cloud Blog
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.blueboxcloud.com/insight/blog-article/using-regular-expressions-in-ruby-part-2-of-3">Regular Expressions in Ruby: Part 2</a></strong>
      - Blue Box Cloud Blog
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.blueboxcloud.com/insight/blog-article/using-regular-expressions-in-ruby-part-3-of-3">Regular Expressions in Ruby: Part 3</a></strong>
      - Blue Box Cloud Blog
		</h5>
    </div>
  </div>
</div>
</section>
